ul, li {
    list-style: none;
}
section {
    display: block;
    width: 300px;
    margin: 30px auto;
    text-align: center;
}
.main input[class='task-input'] {
    line-height: 24px;
    width: 230px;
    height: 24px;
    padding: 3px;
    outline: none;
}
.title {
    color: #008b8b;
}
.task-count li {
    margin-top: 10px;
}
.action a {
    text-decoration: none;
}
.active{
    border: 1px solid #B22222;
    border-radius: 3px;
    padding: 3px;
}
.completed .view label {
    text-decoration: line-through;
    color: #aaa;
}
input.edit {
    display: none;
    height: 24px;
}
.todo-list li {
    text-align: left;
}
.editing {
    text-align: center;
}
.editing div.view {
    display: none;
}
.editing .edit {
    display: block;
    text-align: center;
}
.view input, .view label, .view a {
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
}
a.destroy {
    display: inline-block;
    width: 20px;
    background: url(dele.png) no-repeat center center;
}
