<html>

<head>
    <meta charset="utf-8" />
    <title>My Todolist</title>
    <link rel="stylesheet" type="text/css " href="Style.css" />
    <!-- meta name="viewport" content="width=device-width, initial-scale=1.0, userscalable=no, maximum=1.0, minimum=1.0" /-->
</head>

<body>
    <div class="coffee" onclick="toDonation()">
        <v-seen>
        <div class="handle"></div>
        <div class="cup">
            Buy a cup of coffee for developer!
        </div>
    </div>
    <div class="list" id="toDoList">
        <div class="todoTitle"> Todo </div>
        <div class="todo" id="todo" v-for="task in tasklist">
            <div class="task">
                <li> {{ task.text }} </li>
                <div v-bind:onclick="'deleteTask('+task.id+')'" class="deleteButton"> × </div>
                <div v-bind:onclick="'finishTask('+task.id+')'" class="finishButton"> √ </div>
            </div>
            <!--
            <div class="task" id="2222">
                <li> 测试1 </li>
                <div onclick="deleteTask(测试1)" class="deleteButton"> × </div>
            </div>
            <div class="task">
                <li> 测试2 </li>
                <div onclick="deleteTask(测试2)" class="deleteButton"> × </div>
            </div>
            -->
        </div>
        <div class="finishedTitle"> Finished </div>
        <div class="finished" id="finished" v-for="taskf in tasklistFinished">
            <div class="task">
                <li> {{ taskf.text }} </li>
                <div v-bind:onclick="'deleteTaskf('+taskf.id+')'" class="deleteButton"> × </div>
                <div v-bind:onclick="'definishTask('+taskf.id+')'" class="definishButton"> ← </div>
            </div>
        </div>
    </div>
    <div class="pencile"></div>
    <div class="phone">
        <div class="AddTask">
            <form name="AddTask">
                <input type="text" name="taskContent" id="taskContent" />
            </form>
            <div class="buttons">
                <button class="formButtons" onclick="SubmitTask() "> 提交 </button>
                <button class="formButtons" onclick="saveArray() "> Save </button>
                <button class="formButtons" onclick="loadArray() "> Load </button>
            </div>
        </div>
        <div class="time" id="time"></div>
    </div>
</body>

<script src="vue.js"></script>
<script src="Script.js "></script>

</html>