body{
    line-height: 40px;
    font-size: 30px;
    margin:0 auto;
    background-color: aliceblue;
}
#sth{
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.content{
    font-size: 20px;
    width: 300px;
}

.list{
    margin: 0 auto;
    padding:0;
    list-style-type: none;
}
.btn{
    background-color: lightslategrey;
    font-size: 20px;
    margin:0 auto;
}

.btn:hover{
    font-size: 25px;
    margin:0 auto;
    background-color: lightsalmon;
}
.done{
    color: slategrey;
    text-decoration: line-through;
}
.chkbox{
    zoom: 200%;
    background-color: lightslategrey;
}
.listmem:hover{
    background-color: lightgrey;
}

.sent{
    line-height: 100%;
    font-size:20px;
}

