html {
    background-image: url(img/background/BG1.jpg);
    background-position: center;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    display: block;
}

div.container {
    width: 350px;
    height: 580px;
    margin: 60 auto 0 auto;
    padding: 40px 0 0 0;
    border-radius: 10px;
    background-color: rgba(255, 244, 252, 0.527);
    color: rgb(255, 223, 247);
    text-shadow: 0 0 20px rgba(235, 127, 192, 0.603);
}

div.buttons {
    width: 200px;
    height: 40px;
    margin: 0 auto;
}

button.hira_button,
button.kata_button {
    width: 75px;
    height: 40px;
    padding: 0;
    border: 0;
    margin: 0;
    border-radius: 7px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-color: rgba(255, 234, 250, 0.692);
}

button.hira_button:hover,
button.kata_button:hover {
    background-color: #fce3f4;
    transform: scale(1.05, 1.05);
}

.kata_button {
    float: left;
}

.hira_button {
    float: right;
}

#display {
    width: 350px;
    height: 340px;
    font-size: 250px;
    margin: 0 0 5 0;
    padding: 0;
    text-align: center;
}

div.pronunce_container {
    width: 250px;
    height: 130px;
    padding-top: 20px;
    border-radius: 15px;
    margin: 0 auto;
    background-color: rgba(209, 113, 171, 0.116);
}

#pronunce {
    font-size: 60px;
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
    color: white;
    color: rgb(235, 127, 192);
    /*255, 223, 247*/
    text-shadow: 0 0 7px rgb(255, 233, 250);
}

button.pronun_button {
    width: 65px;
    height: 30px;
    padding: 0;
    border: 0;
    margin: 0;
    border-radius: 5px;
    outline: none;
    font-size: 12px;
    cursor: pointer;
}

div.pronun_button {
    width: 65px;
    height: 30px;
    padding: 0;
    border: 0;
    margin: 0 auto;
    outline: none;
}